.linea-cont {
    background-color: #e1523d;
    width: 100%;
    height: 5px;
    padding: 0;
}

.contenedor-principal-galeria {
    position: relative;
    width: 100%;
    height: auto;
}

.header-center-contacto {
    height: 470px;
}

.header-center-contacto img {
    object-fit: cover;
    width: 100%;
    height: 470px;
}

.formulario-contacto {
    width: 470px;
    height: auto;
    margin: 45px;
    border-radius: 10px;
    border-style: ridge;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #cabfbf;
    padding-left: 30px;
    float: left;
    position: relative;

}

input {
    background-color: #fff4f4;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0c1b39;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fff4f4;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0c1b39;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label {
    display: block;
    float: center;
}

input[type=button] {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #e1523d;
    border-color: #fff4f4;
    border-style: solid;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    color: #fff4f4;
}

.obligatorio {
    color: #e1523d;
}

.aviso-asterisco {
    font-size: 13px;
    color: #e1523d;
}

h1 {
    font-size: 33px;
    text-align: left;
    padding-bottom: 20px;
    color: #0c1b39;
    font-weight: 200;
}

h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0c1b39;
    font-weight: 100;
}

p {
    font-size: 14px;
    color: #0c1b39;
}

.formulario input:focus,
textarea:focus {
    border: 1px solid #292a3a;
    box-shadow: 0 0 0 1px #292a3a;
    outline: 2px solid transparent;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.checkbox-term {
    font-size: 13px;
    font-weight: 200;
    color: #0c1b39;
    cursor: pointer;
}

.miCheckbox:focus {
    border-color: #292a3a;
}

.checkbox-term a {
    color: #e1523d;
}

.mapa-iframe {
    height: 520px;
    width: 500px;
    margin: 60px 90px auto auto;
}

.mapa-google {
    overflow: hidden;
    background: none !important;
    height: 520px;
    width: 500px;
    border-width: 1px;
    border-style: ridge;
    border-radius: 10px;
}