.linea-galeria {
    background-color: #e1523d;
    width: 100%;
    height: 5px;
    padding: 0;
    margin: 0 auto auto 4px;
}

/*-------- Aqui empieza el css de galeria de imagenes*/
.contenedor-principal-galeria .video-nav {
    position: relative;
    width: 100vw;
    /*unidad de ancho de la ventana gráfica representa un porcentaje del ancho de la ventana gráfica. 50vw significa el 50% del ancho de la ventana gráfica.*/
    height: 80vh;
    /*es la unidad de altura de la ventana gráfica representa un porcentaje de la altura de la ventana gráfica. 50vh significa el 50% de la altura de la ventana gráfica.*/
    top: 142px;
}

.video-nav video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-style: outset;
}
.contenedor-principal-galeria{
    margin-bottom: 25px;
}
.contenedor-principal-galeria h1 {
    text-align: center;
    color: #e1523d;
    margin: 200px 0 15px 0;
    font-weight: 300;
    position: relative;
}

.contenedor-principal-galeria h1 span {
    color: #292a3a;
}

.linea {
    border-top: 5px solid #292a3a;
    margin-bottom: 40px;
}

.cont-imagenes-galeria {
    display: flex;
    /*display:flex: 
    Maquetamos nuestras imagenes*/
    width: 85%;
    margin: auto;
    justify-content: space-around;
    /* space-around:  define cómo distribuye el navegador el espacio entre y alrededor de los elementos de contenido a lo largo del eje principal de un contenedor flex y del eje en línea de un display:flex*/
    flex-wrap: wrap;
    /*flex-wrap:wrap Todos los elementos serán obligados a permanecer en la misma linea o fluir*/
    border-radius: 3px;
}

.cont-imagenes-galeria h2 {
    text-align: center;
    color: #e1523d;
    font-weight: 200;
    width: 100%;
    margin-bottom: 5px;
}

.cont-imagenes-galeria .imagen {
    width: 32%;
    position: relative;
    height: 200px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.imagen:hover img {
    transform: scale(1.35);
}

.imagen {
    overflow: hidden;
}

/*---------- Empieza el css de galeria de videos*/

.cont-videos-galeria {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.cont-videos-galeria h2 {
    text-align: center;
    color: #e1523d;
    font-weight: 200;
    width: 100%;
    margin: 35px auto 10px auto;
}

.videos {
    width: 32%;
    height: 200px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.videos video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}