.espacio-relleno-4 {
    width: 100%;
    height: 90px;
    /*background-image: url(/images/rectangle_22.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    background: linear-gradient(0deg, #292a3a 1%, rgba(230, 232, 232, 0.81) 100%);
}

th {
    background-color: #8C5137;
    color: #fff4f4;
    text-align: center;
}

td {
    background-color: #cfb99e;
    color: #fff4f4;
    padding: 7px;
    text-align: center;
}

.sinClase {
    background: #e1523d;
}
.yoga{
    background: #2c9551aa;
}
.Ccircuit{
    background: #1dc5dfbf;
}
.rumble{
    background: #a65662c5;
}
.cross{
    background: #bd886cc5;
}
.boompa{
    background: #1e35b5c5;
} 
.zumba{
    background: #5643a4c5;
} 
.bCombat{
    background: #34bbbdc5;
}
.crossBox{
    background: #4f4748c5;
}
.pilates{
    background: #10e461d6;
}
.dance{
    background: #c3b7b9e7;
}
.eliptica{
    background: #0c0947c5;
}
.bPump{
    background: #3af208f4;
}
.bCycling{
    background: #cbaa5d46;
}
.bBox{
    background: #ce2dd7c7;
}