.linea-horarios {
    background-color: #e1523d;
    width: 82%;
    height: 5px;
    padding: 0;
    margin: 0 auto 0 auto;

}

.contenedor-principal-horarios {
    width: 100%;

}

.header-center-horarios {
    width: 100%;
    height: 450px;
}

.header-center-horarios img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.main-horarios {
    background-color: #fff4f4;
    width: 100%;
    height: 700px;
}

.h-gym {
    margin: 85px 35px 0px 0px;
    float: right
}

.h-gym h2 {
    margin-bottom: 10px;
    color: #e1523d;
}

.h-gym p {
    color: #292a3a;
}

.tabla-horario {
    width: 710px;
    height: 481px;
    margin-left: 170px;
}

table {
    width: 710px;
    height: 481px;
    margin-top: 35px;
}

caption {
    padding: 20px;
    font-size: 28px;
    color: #292a3a;
    margin-top: 10px;
}

th {
    background-color: #505d63;
    color: #fff4f4;
    text-align: center;
}
td {
    background-color: #bcb2b4;
    color: #fff4f4;
    padding: 7px;
    text-align: center;
}

.Container-footer {
    margin-top: 0 !important
}